<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/0c1a9f11-88b1-4ecb-ab6b-6a86561195be/resourcegroups/Final20230103170721ResourceGroup/providers/Microsoft.Web/sites/Final20230103170721</ResourceId>
    <ResourceGroup>Final20230103170721ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://final20230103170721.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>b7d8db22-390e-4267-bcf9-f8cadfc6d3ca</ProjectGuid>
    <PublishUrl>https://final20230103170721.scm.azurewebsites.net/</PublishUrl>
    <UserName>$Final20230103170721</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>